meta(charset="utf-8")
meta(name="陈东东的在线简历" content="陈东东的在线简历，GitHub Page")
meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
meta(http-equiv="Cache-Control" content="no-siteapp")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
